body {
  font-family: Arial;
  background: #0f1220;
  color: white;
  text-align: center;
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

/* TRAINING BAR */
#barContainer {
  width: 80%;
  height: 40px;
  margin: 30px auto;
  background: #222;
  position: relative;
  border-radius: 10px;
}

#perfectZone {
  position: absolute;
  left: 42%;
  width: 16%;
  height: 100%;
  background: rgba(0,255,100,0.3);
}

#marker {
  position: absolute;
  width: 10px;
  height: 100%;
  background: red;
}

/* BATTLE LOG */
#battleLog {
  width: 80%;
  height: 250px;
  margin: 20px auto;
  background: #111;
  text-align: left;
  padding: 10px;
  overflow-y: auto;
  font-family: monospace;
  border-radius: 10px;
}

.log {
  margin: 4px 0;
  opacity: 0.9;
}
